/* shrink headerbars */
headerbar {
    min-height: 0px;
    padding-left: 2px; /* same as childrens vertical margins for nicer proportions */
    padding-right: 2px;
    background-color: #2d2d2d;
    border:0;
}
textview text {
    color:#4fc3f7;
}
button {
    border-radius: 10px;
}
button:hover {
    border-color: pink;
    opacity: 50;
}
button:active {
  color: #FFF;
  background: #F00;
}
headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
    margin-top: 0px; /* same as headerbar side padding for nicer proportions */
    margin-bottom: 0px;
}
/* shrink ssd titlebars */
.default-decoration {
    min-height: 0; /* let the entry and button drive the titlebar size */
    padding: 0px;
    background-color: #2d2d2d;
}
.default-decoration .titlebutton {
    min-height: 0px; /* tweak these two props to reduce button size */
    min-width: 0px;
}
window.ssd headerbar.titlebar {
    padding-top: 3px;
    padding-bottom: 3px;
    min-height: 0;
    background-color: #2d2d2d;
}
window.ssd headerbar.titlebar button.titlebutton {
    padding: 3px;
    min-height: 0;
    border-radius: 0;
    margin-right: 2px;
    background-color: #2d2d2d;
}